*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    padding-top: 150px;
}
form{
    padding: 50px;
}